/* Import Angular Material Theme */
@import '@angular/material/prebuilt-themes/indigo-pink.css';

/* Apply Flynote-like styling */
body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  background-color: #f9f9f9;
  color: #333;
}
.container {
  width: 100%;
  margin: auto;
  padding: 20px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    overflow-x: hidden; /* Prevents right-side scrolling */
    width: 100vw; /* Ensures the body doesn't extend beyond screen width */
  }